.character-list{
  &__content{
    display: grid;
    padding: 0 100px;
    grid-template-columns: repeat(auto-fill,300px);
    grid-gap:20px;
    justify-content: center;
  }
  &__button-container{
    display:flex;
    justify-content: space-evenly;
    margin: 40px auto;
    width:450px;
  }
  &__button{
    height: 40px;
    width: 200px;
  }
}