@import "vars";

.dropdown-list {
  overflow-y: auto;
  animation: growDown 1s ease forwards;
  transform-origin: top center;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 20px 0;
  &__wrapper {
    display: grid;
    max-width: 600px;
    grid-template-columns: repeat(auto-fill, 150px);
    margin: 0 auto;
  }
}

.dropdown-list__filter {
  ul {
    display: flex;
    list-style: none;
    margin: 10px auto;
    padding: 0;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    li {
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.6);
      &.active {
        border-color: $green-color;
        color: $green-color;
      }
      &:hover {
        box-shadow: 0 0 4px 1px $green-color;
        text-shadow: 0 0 4px $green-color;
      }
    }
  }
}

@keyframes growDown {
  from {
    max-height: 0;
    transform: scaleY(0);
  }
  to {
    max-height: 500px;
    transform: scaleY(1);
  }
}
