@import "vars";

.header {
  margin: 0;
  overflow: hidden;
  background-color: $page-background-color;
  border-bottom: 1px solid white;
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    color: $green-color;
    align-items: center;
    justify-content: center;
    list-style-type: none;
  }
  &__list-item {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: $header-height;
    &:hover {
      cursor: pointer;
      background-color: rgba(white, 0.25);
      box-shadow: 0 0 white 3px;
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
