@use 'vars';

.locations{
  color:white;
  height: calc(100vh - 41px);
  overflow-y: auto;
  background-color: vars.$page-background-color;
  text-align: center;
  
 
  &__button-wrapper{
    display: flex;
    width:500px;
    margin:30px auto;

    justify-content: space-evenly;
  }
}