@import "vars";
.searcher {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  &__input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid $blue-color;
    outline: none;
    background-color: $background-color;
    color: rgba(255, 255, 255, 0.8);
    &:hover {
      box-shadow: 0 0 6px $blue-color;
    }
    &:focus {
      box-shadow: 0 0 6px $blue-color;
    }
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  button {
    background-color: $background-color;
    color: $blue-color;
    border: 1px solid $blue-color;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 6px $blue-color;
    }
  }
}
